@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include dFlex($fd: column);
  @include maxWidth1600();
  color: $main-ivory;
  background-color: $main-black;
  width: 100%;
  @include sectionWrapperStyle();
  padding-bottom: 160px;
  min-height: calc(100vh - 136px);
}

h1 {
  margin-top: 32px;
  margin-bottom: 2rem;
  font-size: clamp(4rem, 5.006vw - 0.01rem, 8rem);
}

h2,
h3 {
  font-family: "Quicksand", sans-serif;
  line-height: unset;
}

h2 {
  margin-top: 16px;
  font-size: 32px;
}

h3 {
  text-align: start;
  margin-top: 8px;
}

ul {
  padding-left: 24px;
}

strong {
  font-weight: bold;
}

a {
  color: $main-yellow;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 950px) {
  section {
    min-height: calc(100vh - 100px);
  }
}
