@use "./../../../../styles/_mixins" as *;
@use "./../../../../styles/_variables" as *;

#growth-mindset {
  @include cardBoxStyle($bc: $main-ivory);
  width: 24rem;
  max-width: 360px;
  min-width: 300px;
  background-color: $main-yellow;

  p {
    margin-top: 16px;
    font-weight: 400;
  }

  div {
    margin-top: 16px;
    @include dFlex($ai: flex-start, $g: 24px);
    label {
      text-align: center;
      @include dFlex($fd: column, $jc: flex-start, $g: 8px);
      width: 56px;

      img {
        width: 40px;
      }
    }
  }
}

// #region media queries
@media (max-width: 820px) {
  #growth-mindset {
    // width: 200px;
    // box-sizing: border-box;
  }
}

// #endregion
