@use "./../../../../styles/_mixins" as *;
@use "./../../../../styles/_variables" as *;

#growth-mindset {
  @include cardBoxStyle($bc: $main-black);
  @include dFlex($fd: column);
  width: 300px;
  max-width: 360px;
  background-color: $main-yellow;

  color: $main-black;

  h3 {
    @include h3FontSizeSwitch();
  }

  p {
    margin-top: 16px;
    font-weight: 400;
    @include pFontSizeSwitch();
  }

  div {
    margin-top: 16px;
    @include dFlex($ai: flex-start, $g: 24px);

    figure {
      text-align: center;

      @include dFlex($fd: column, $jc: flex-start, $g: 8px);
      width: 56px;

      img {
        width: 40px;
      }

      figcaption {
      font-weight: 500;
      }
    }
  }
}

button {
  align-self: flex-end;
  width: 32px;
  height: 32px;
  background: url("./../../../../../public/assets/img/icons/close-black.svg") no-repeat center / cover;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: url("./../../../../../public/assets/img/icons/close-hover.svg") no-repeat center / cover;
  }
}

@media (max-width: 340px) {
  #growth-mindset {
    width: 280px;
  }
}
// #endregion
