<section id="section-1">
    <div id="hero-content">
        <div id="headline">
            <p>Hello there! I'm</p>
            <h1>Simon&nbsp;Fuchs</h1>
            <p>Frontend Developer</p>
            <button>
                <a href="#">Get in Touch</a>
            </button>
        </div>

        <div id="scroll-widget">
            <img src="./assets/img/Scroll-Widget-Placeholder.svg" alt="">
        </div>
    </div>

    <div id="hero-pic">
        <img src="./assets/img/profil-pic-transparent.png" alt="Profil Picture">
    </div>
</section>