@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include sectionBoxStyle();
  @include dFlex($jc: space-around);

  img {
    width: min(55rem, 80dvh);
    object-position: bottom;
  }
}

#hero-content {
  @include dFlex($fd: column, $ai: flex-start, $g: 2rem);
}

#headline {
  p {
    font-size: 3rem;
  }
}

#scroll-widget {
  img {
    height: 14rem;
    width: 14rem;
  }
}

#hero-pic {
  @include dFlex($ai: flex-end);
  margin: 0 2rem;
  height: 100%;

  img {
    background: url("/assets/img/Capa_bg.svg") no-repeat top center;
    background-size: min(32rem, 50dvh);
    align-self: flex-end;
  }
}
