<section id="hero" #heroSection>
    <div id="hero-wrapper">
        <div id="hero-content" #heroContent>
            <div class="hero-text" #heroText>
                <p #heroGreeting>{{"main-page.hero.subheadline-part-1" | translate}}</p>
                <h1 #heroHeadline>Simon&nbsp;Fuchs</h1>
                <p class="heroPosition" #heroPosition>Frontend Developer</p>
                <a (click)="this.mainPageScrollService.scrollToSection(5)">
                    {{"main-page.hero.contact-button" | translate}}
                </a>
            </div>
        </div>

        <div class="cogwheel-container" #heroCogwheel>
            <img id="cogwheel-scroll-down" src="./assets/img/hero/cogwheel-scroll-down-148-bg-blue.svg" alt="">
            <img class="arrow-down" src="./assets/img/hero/arrow-down.svg" alt="">
        </div>

        <div id="hero-pic">
            <img src="./assets/img/hero/simon-ivory-shirt-cogwheel-4.webp" alt="Profil Picture">
        </div>

        <div class="spacer"></div>
    </div>
</section>