<section id="section-1">
    <div id="hero-content">
        <div id="headline">
            <p>Hello there! I'm</p>
            <h1>Simon&nbsp;Fuchs</h1>
            <p>Frontend Developer</p>
            <app-primary-button></app-primary-button>
        </div>

        <div id="cogwheel-container">
            <img id="cogwheel-scroll-down" src="./assets/img/hero/cogwheel-scroll-down-144.svg" alt="">
            <img id="arrow-down" src="./assets/img/hero/arrow-down.svg" alt="">
        </div>
    </div>

    <div id="hero-pic">
        <img src="./assets/img/profil-pic-transparent.png" alt="Profil Picture">
    </div>
</section>