@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  height: 100vh;
  height: 100dvh;
  @include dFlex($jc: space-around);
  color: $main-ivory;
  div {
    img {
      width: min(55rem, 80dvh);
      object-position: bottom;
    }

    a {
      padding: 1rem 2rem;
      margin: 1rem;
      border: 1px solid $main-ivory;
      border-radius: 50px;
    }
  }
}

#hero-content {
  margin: 0 2rem;
  @include dFlex($fd: column, $ai: flex-start, $g: 2rem);
}

#headline {
  h1 {
    font-family: "Eczar";
    font-size: 6rem;
    line-height: 7.5rem;
  }

  p {
    font-size: 3rem;
  }
}

#scroll-widget img {
  height: 14rem;
  width: 14rem;
}

#hero-pic {
  @include dFlex($ai: flex-end);
  background: url("/assets/img/Capa_bg.svg") no-repeat right;
  background-size: min(32rem, 50dvh);
  height: 100vh;
  height: 100dvh;

  img {
    align-self: flex-end;
  }
}
