@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include sectionBoxStyle();
  @include dFlex();
  width: 100%;

  img {
    object-position: bottom;
  }
}

#hero-content {
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 2rem);
  @include maxWidth1920();
  width: 100%;
  height: 100%;
}

#headline {
  margin-top: 5rem;
  align-self: flex-start;

  p {
    font-size: 3rem;
  }
}

#hero-pic {
  @include dFlex($ai: flex-end);
  // margin: 0 2rem;
  height: 100%;
  width: 100%;

  img {
    width: 42rem;
    align-self: flex-end;
  }
}

// #region cogwheel-scroll-down down animation
#cogwheel-container {
  position: absolute;
  bottom: 6rem;
  left: 6rem;
  margin-top: 1rem;
  overflow: hidden;
  width: 148px;
  height: 148px;
}

#cogwheel-scroll-down {
  width: 148px;
  height: 148px;
  z-index: 1;
  animation: animateCogwheel linear 10s infinite;
  transform-origin: center;
  pointer-events: visible;
}

@keyframes animateCogwheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  z-index: 2;
  width: 48px;
  height: 48px;
}
// #endregion

a {
  @include primaryButton();
}

// #region media queries

// @media (max-width: 1024px) {
//   section {
//     padding-left: 4rem;
//     padding-right: 4rem;
//   }
// }

@media (max-aspect-ratio: 4/3) {
  section {
    // flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

#hero-pic {
  img {
    min-width: 480px;
    margin-left: -10rem;
  }
}
@media (max-aspect-ratio: 7/6) {
  a {
    margin-top: 3rem;
    font-size: 2.8rem;
    padding: 1rem 3.2rem;
  }

  section {
    flex-direction: column;
    height: unset;
    justify-content: space-between;
    gap: 6rem;

    #hero-content {
      margin-top: 10rem;
      height: 100%;
      justify-content: center;

      #headline {
        margin-top: unset;
        p {
          font-size: 5rem;
        }
        h1 {
          font-size: 10rem;
        }
      }
    }

    #cogwheel-container {
      left: 4rem;
    }

    #hero-pic {
      // align-self: flex-start;
      justify-content: flex-end;
      // margin-right: 10rem;

      img {
        // width: 55rem;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 720px) {
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #headline {
    margin-top: 20rem;
    p {
      font-size: 5rem;
    }
    h1 {
      font-size: 10rem;
    }
  }
}

@media (max-width: 580px) {
  #hero-pic {
    width: 62rem;

    img {
      min-width: unset;
      height: unset;
      width: 62rem;
      margin-left: 0;
    }
  }

  #cogwheel-container {
    left: 0;
    bottom: 3rem;
    width: 22rem;
    height: 22rem;

    img {
      width: 22rem;
      height: 22rem;
    }

    #arrow-down {
      width: 32px;
      height: 32px;
    }
  }
}

@media (max-width: 420px) {
  #cogwheel-container {
    left: 0;
    bottom: 1rem;
  }
}

// #endregion
