<nav #nav>
    <div class="anchor-container">
        @for (anchorNumber of [0,1,2,3,4,5]; track anchorNumber) {
        <a class="anchor"
            [ngClass]="{'anchor-active': mainPageScrollService.isCurrentSection(anchorNumber), 'anchor-light-bg': mainPageScrollService.hasLightBackground(), 'anchor-active-light-bg': mainPageScrollService.hasLightBackground() && mainPageScrollService.isCurrentSection(anchorNumber)}"
            (click)="this.mainPageScrollService.scrollToSection(anchorNumber)"></a>
        }
    </div>
</nav>