@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

nav {
  @include dFlex($ai: flex-start, $jc: flex-end);
  width: 100%;
  pointer-events: none;

  a {
    @include dFlex();
  }

  @media (max-width: 1100px) {
    height: min(100vh, 750px);
    height: min(100dvh, 750px);
  }
}

.anchor-container {
  top: clamp(320px, 50dvh, 80%);
  right: calc(clamp(0.8rem, 5vw - 0.8rem, 7.2rem) - 12px);
  padding: 16px 8px;
  transform: translateY(-50%);
  @include dFlex($fd: column, $g: 16px);
  pointer-events: auto;
}

.anchor {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $main-ivory;
  transition: all 450ms ease-in;
  transition-delay: 25ms;
  rotate: 45deg;
}

.anchor-light-bg {
  background-color: $main-black;
}

.anchor-active {
  pointer-events: none;
  border-radius: 0;
  background-color: $main-yellow;
}

.anchor-active-light-bg {
  background-color: $main-coral;
}

// #region back-to-start jump animation
svg path {
  fill: #f8f7e5;
  transition: fill 125ms ease;
  animation: jumpAnimation 1.6s ease-in-out infinite;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(95%) scaleY(1);
  }

  50% {
    transform: translateY(-40%) scaleY(1.5);
  }

  100% {
    transform: translateY(95%) scaleY(1);
  }
}

#back-to-start {
  transition: border-bottom 125ms ease;
}

#back-to-start:hover svg path {
  fill: #ff5733;
}

#back-to-start:hover {
  border-bottom: 1px solid #ff5733;
}
// #endregion
