@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

nav {
  height: 100vh;
  height: 100dvh;
  @include dFlex($fd: column, $jc: space-around);

  a {
    @include dFlex();
  }
}

.anchor-container {
  @include dFlex($fd: column, $g: 16px);
}

.icon-active img {
  width: 12px;
  height: 12px;
  object-position: center;
  object-fit: contain;
}

.icon-inactive img {
  width: 9px;
  height: 9px;
  object-position: center;
  object-fit: contain;
}

.spacer {
  height: 48px;
  width: 30px;
}

#top-spacer {
  a {
    height: 48px;
    width: 30px;

    svg {
      height: 48px;
    }
  }
}

// #region back-to-start jump animation
svg path {
  fill: #f8f7e5;
  transition: fill 125ms ease;
  animation: jumpAnimation 1.6s ease-in-out infinite;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(95%) scaleY(1);
  }

  50% {
    transform: translateY(-40%) scaleY(1.5);
  }

  100% {
    transform: translateY(95%) scaleY(1);
  }
}

#back-to-start {
  transition: border-bottom 125ms ease;
}

#back-to-start:hover svg path {
  fill: #ff5733;
}

#back-to-start:hover {
  border-bottom: 1px solid #ff5733;
}
// #endregion
