<div id="project-showcase">
    <div id="p-preview">
        <img id="p-pic" src="./assets/img/portfolio/project-preview-placeholder.svg" alt="Project-$ pic">
        <img id="cogwheel-placeholder" src="./assets/img/Capa_bg.svg" alt="cogwheel animation placeholder">
    </div>

    <div id="p-content">
        <div id="p-details">
            <div id="p-header">
                <h3>Join</h3>
                <img src="./assets/img/icons/about-me/emoji-shh-placeholder.svg" alt="animation placeholder">
            </div>
            <p id="p-used-skills">HTML | CSS | Firebase | Angular | TypeScript</p>
            <p id="p-description">Ein vom Kanban System inspiriertes Organisationstool.
                Per Drag & Drop lassen sich Aufgaben erstellen, verschieben, zuweisen und kategorisieren.
            </p>
            <div id="p-links">
                <a>Link statt Button</a>
                <a>Link statt Button</a>
            </div>
        </div>

        <div id="p-switch">
            <button>&lt;&lt; Vorheriges Projekt</button>
            <button>Nächstes Projekt >> </button>
        </div>
    </div>
</div>