<div id="project-showcase">
    <div id="p-preview" [style.background-color]="showcaseData.myProjects[showcaseData.currentProject].backgroundColor">
        <video id="p-video" poster="{{showcaseData.myProjects[showcaseData.currentProject].posterUrl}}"
            #previewVideo></video>

        <div>
            <img id="cogwheel-bg" src="{{showcaseData.myProjects[showcaseData.currentProject].cogwheelUrl}}"
                (mouseenter)="playVideo(); cogwheelIsHovered = true"
                (mouseleave)="pauseVideo(); cogwheelIsHovered = false" alt="cogwheel animation">
                <div class="icon"></div>
        </div>
    </div>

    <div id="p-content">
        <div id="p-details">
            <div id="p-header">
                <div class="disappear"
                    [style.background-color]="showcaseData.myProjects[showcaseData.currentProject].learningBgColor"
                    [ngClass]="{'appear': emojiIsHovered}" id="learning-card">
                    <p id="learning-text">
                        {{showcaseData.myProjects[showcaseData.currentProject].learning | translate}}
                    </p>
                </div>
                <h3>{{showcaseData.myProjects[showcaseData.currentProject].name}}</h3>
                <div id="emoji-container">
                    <img (mouseenter)="changeHoverState(true)" (mouseleave)="changeHoverState(false)"
                        src="{{showcaseData.myProjects[showcaseData.currentProject].emojiUrl}}" alt="Checkmark Emoji">
                </div>
            </div>
            <p id="p-used-skills">{{showcaseData.myProjects[showcaseData.currentProject].usedSkills}}</p>
            <p id="p-description">{{showcaseData.myProjects[showcaseData.currentProject].description | translate }}</p>
            <div id="p-links">
                <a href="{{showcaseData.myProjects[showcaseData.currentProject].gitHubUrl}}" target="_blank">GitHub <img
                        src="./assets/img/icons/project/arrow-right.svg" alt="Icon Arrow Right"></a>
                <a href="{{showcaseData.myProjects[showcaseData.currentProject].projectUrl}}" target="_blank">Live Test
                    <img src="./assets/img/icons/project/arrow-right.svg" alt="Icon Arrow Right"></a>
            </div>
        </div>

        <div id="p-switch">
            <button (click)="previousProjcet(); loadVideo()">{{setButtonText("previous") | translate}}</button>
            <span> {{showcaseData.currentProject + 1 }} / {{showcaseData.myProjects.length}}</span>
            <button (click)="nextProjcet(); loadVideo()">{{setButtonText("next") | translate}}</button>
        </div>
    </div>

    <div class="spacer"></div>
</div>