@use "./../../../../styles/_mixins" as *;
@use "./../../../../styles/_variables" as *;

#project-showcase {
  @include dFlex($g: 3rem, $jc: space-between);
  height: 100%;
  gap: clamp(2rem, 5.013vw - 2.015rem, 4rem);
}

#p-preview {
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;
  @include dFlex($fd: column, $ai: flex-start);
  background-color: $main-yellow;
  border: 1px solid $main-black;
  border-radius: 4px;
  margin-bottom: 2px;

  #p-pic {
    width: 90%;
    align-self: center;
    justify-self: center;
    z-index: 2;
  }

  @media (max-height: 750px) {
    width: auto;
    height: 60vh;
    min-height: 384px;
  }
}

// #region cogwheel-bg animation
#cogwheel-bg {
  position: absolute;
  bottom: 0;
  width: 30%;
  z-index: 1;
  animation: animateCogwheel linear 10s infinite;
  transform-origin: center;
  pointer-events: visible;
}

@keyframes animateCogwheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// #endregion

#p-content {
  @include dFlex($fd: column, $ai: space-between);
  flex: 1;
  height: 100%;
  // @media (max-aspect-ratio: 7/6) {
  //   width: 80%;
  // }

  // @media (max-width: 480px) {
  //   width: 100%;
  // }
}

#p-details {
  @include dFlex($fd: column, $ai: flex-start, $jc: center);
  @include cardBoxStyle();
  background-color: $main-black;
  color: $main-ivory;
  min-height: 75%;

  #p-header {
    @include dFlex($jc: space-between, $ai: flex-end);
    width: 100%;
    h3 {
      text-align: start;
      @include h3FontSizeSwitch();
    }
  }

  p {
    @include pFontSizeSwitch();
  }

  // #region emoji jump animation
  #emoji-container {
    @include dFlex();
    height: 50px;
    width: 32px;
    img {
      width: 40px;
      height: 40px;
      animation: slide-up-and-down 1.8s ease-in-out infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  @keyframes slide-up-and-down {
    0% {
      transform: translateY(30%);
    }

    50% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(30%);
    }
  }

  p {
    margin-top: 16px;
  }
}
// #endregion

// #region learning-card appear animation
#learning-card {
  z-index: 8;
  position: absolute;
  right: 0;
  top: 8px;
  @include cardBoxStyle($bc: $main-ivory);
  width: 84%;
  background-color: $main-blue;
  color: $main-ivory;
  transform: translateY(-110%);
  transition: opacity 125ms ease;

  // @media (max-aspect-ratio: 7/6) {
  //   transform: translateY(-100%);
  // }

  #learning-text {
    margin-top: 0;
    font-weight: 400;
  }
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
}

// #endregion

#p-used-skills {
  color: $main-blue;
}

#p-links {
  @include dFlex($g: 40px);

  a {
    @include primaryButton();

    img {
      // width: 1.2rem;
      transition: transform 125ms ease;
    }

    &:hover img {
      transform: rotate(-45deg);
    }
  }
}

#p-switch {
  margin-top: 16px;
  @include dFlex($jc: space-between);

  button {
    font-size: clamp(1.6rem, 3.333vw + 0.533rem, 1.8rem);
    font-weight: bold;

    // @media (max-width: 400px) {
    //   width: 120px;
    // }

    &:hover {
      color: $main-coral;
    }
  }
}

// #region Media Queries
@media (max-width: 940px) {
  #p-details {
    padding: 16px clamp(1.2rem, 8.633vw - 5.715rem, 2.4rem) clamp(1.2rem, 8.633vw - 5.715rem, 2.4rem)
      clamp(1.2rem, 8.633vw - 5.715rem, 2.4rem);
  }

  // #project-showcase {
  //   gap: clamp(2rem, 14.388vw - 9.525rem, 4rem);
  // }
}

@media (max-width: 800px) {
  #project-showcase {
    flex-direction: column;
    gap: 32px;
    padding: 0 clamp(0rem, 40vw - 24rem, 8rem);
  }

  #p-preview {
    width: 100%;
  }

  #p-content {
    width: 100%;
  }

  #p-details {
    @include textPadding();
  }

  #p-links {
    // gap: clamp(1.2rem, 1.667vw + 0.667rem, 2rem);
    gap: unset;
    width: 100%;
    justify-content: space-between;

    a {
      font-size: 17px;
      padding: 10px 20px;
    }
  }

  .spacer {
    display: none;
  }
}
// #endregion
