@use "./../../../../styles/_mixins" as *;
@use "./../../../../styles/_variables" as *;

#project-showcase {
  @include dFlex($g: 3rem, $jc: flex-start);
}

#p-preview {
  width: 32rem;
  height: auto;
  aspect-ratio: 1/1;
  @include dFlex($fd: column, $ai: flex-start);
  background-color: $main-yellow;
  border: 1px solid $main-black;
  border-radius: 4px;

  #p-pic {
    width: 90%;
    align-self: center;
    justify-self: center;
    z-index: 2;
  }
}

// #region cogwheel-bg animation
#cogwheel-bg {
  position: absolute;
  bottom: 0;
  width: 30%;
  z-index: 1;
  animation: animateCogwheel linear 10s infinite;
  transform-origin: center;
  pointer-events: visible;
}

@keyframes animateCogwheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// #endregion

#p-content {
  width: 40rem;
}

#learning-card {
  z-index: 8;
  position: absolute;
  right: 0;
  top: 0;
  @include cardBoxStyle($bc: $main-ivory);
  width: 80%;
  background-color: $main-blue;
  color: $main-ivory;
  transform: translateY(-110%);

  #learning-text {
    margin-top: 0;
  }
}

#p-details {
  @include dFlex($fd: column, $ai: flex-start, $jc: center);
  @include cardBoxStyle();
  background-color: $main-black;
  color: $main-ivory;

  #p-header {
    @include dFlex($jc: space-between, $ai: flex-end);
    width: 100%;
    h3 {
      text-align: start;
    }
  }

  // #region emoji jump animation
  #emoji-container {
    @include dFlex();
    height: 50px;
    width: 32px;
    img {
      width: 40px;
      height: 40px;
      animation: slide-up-and-down 1.8s ease-in-out infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  @keyframes slide-up-and-down {
    0% {
      transform: translateY(30%);
    }

    50% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(30%);
    }
  }
  // #endregion

  p {
    margin-top: 16px;
  }
}

#p-used-skills {
  color: $main-blue;
}

#p-links {
  @include dFlex($g: 2rem);

  a {
    img {
      width: 1.2rem;
      transition: transform 125ms ease;
    }

    &:hover img {
      transform: rotate(-45deg);
    }
  }
}

#p-switch {
  margin-top: 16px;
  @include dFlex($jc: space-between);

  button {
    font-size: 18px;
    font-weight: bold;

    &:hover {
      color: $main-coral;
    }
  }
}

a {
  @include primaryButton();
}
