<div id="project-showcase">
    <div id="p-preview">
        <img id="p-pic" src="./assets/img/portfolio/project-preview-placeholder.svg" alt="Project-$ pic">
        <img id="cogwheel-placeholder" src="./assets/img/Capa_bg.svg" alt="cogwheel animation placeholder">
    </div>

    <div id="p-content">
        <div id="p-details">
            <div id="p-header">
                <h3>Join</h3>
                <img src="./assets/img/icons/about-me/emoji-shh-placeholder.svg" alt="animation placeholder">
            </div>
            <p id="p-used-skills">HTML | CSS | Firebase | Angular | TypeScript</p>
            <p id="p-description">Task manager inspired by the Kanban System. Create and organize
                tasks using drag and drop functions, assign users and categories. </p>
            <div id="p-links">
                <app-primary-button></app-primary-button>
                <app-primary-button></app-primary-button>
            </div>
        </div>

        <div id="p-switch">
            <button> << Previous project</button>
            <button>Next project >> </button>
        </div>
    </div>
</div>