@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include sectionBoxStyle($bc:$main-ivory);
  @include dFlex($ai: flex-end, $jc: space-between);
  padding: 2rem 6rem 0 6rem;
}

#about-me-pic {
  img {
    height: 80vh;
    height: 80dvh;
    object-position: bottom;
  }
}

#about-me-content {
  height: 80vh;
  height: 80dvh;
  @include dFlex($fd: column, $ai: flex-end, $jc: flex-start, $g: 4rem);

  h2 {
    color: $main-black;
    font-size: 6rem;
    line-height: 1.2;
  }
}

#about-me-card {
  margin-left: -6rem;
  margin-right: 16rem;
  align-self: flex-start;
  @include cardBoxStyle();
  background-color: $main-black;
  p {
    color: $main-ivory;
    text-align: justify;
  }

  div {
    @include dFlex($jc: space-between);
  }
}

#app-about-me-overlay {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
