<section id="section-2">

    <div id="about-me-pic">
        <img src="./assets/img/Second-Photo-placeholder.png" alt="Profil Picture 2">
    </div>

    <div id="about-me-content">
        <h2>About Me</h2>
        <div id="about-me-card">
            <p>Hey there, I'm Simon. Write some information about yourself that is IT related. Why are you passionate
                about coding? What is your source of inspiration for improving your programming skills? Do you learn
                from each challenge as you search for the most efficient or elegant solution?
                <br>
                <br>
                Let's connect and create something amazing together!
            </p>
            <div>
                <a>Let's talk</a>
                <img src="./assets/img/icons/about-me/emoji-shh-placeholder.svg" alt="">
            </div>
        </div>
    </div>

    <app-about-me-overlay id="about-me-overlay"></app-about-me-overlay>

</section>