@use "./../../../../styles/_mixins" as *;
@use "./../../../../styles/_variables" as *;

#colleague-quote {
  @include dFlex($fd: column, $ai: flex-end);

  a {
    margin-top: min(36px, 2vh);
  }
}

#cq-card {
  @include cardBoxStyle($bc: $main-ivory);
  @include dFlex($fd: column, $ai: flex-start, $g: 10px);
  text-align: start;

  #title {
    font-size: 18px;
    font-weight: bold;
  }
}

#cq-header {
  @include dFlex($jc: space-between);
  width: 100%;
  height: 40px;
}

.cogwheel-marker {
  opacity: 0;
  transition: opacity 200ms;
}

.cogwheel-marker-hovered {
  opacity: 1;
  transition: opacity 200ms;
}

@media (max-width: 800px) {
  #colleague-quote {
    a {
      margin-top: 16px;
    }
  }
}
