<section>
    <main>
        <div id="contact-text">
            <h2>Let's build something cool together!</h2>
            <p id="c-question">Got a problem to solve?</p>
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add
                value to
                their projects through your work. </p>
        </div>

        <form id="contact-form">
            <div id="contact-info-group">
                <label class="text-input">
                    <span>What's your name?</span>
                    <input (click)="activateFirstClick(nameInput)" type="text" placeholder="Your name goes here"
                        required>
                </label>
                <label class="text-input">
                    <span>What's your email?</span>
                    <input type="email" placeholder="youremail@email.com" required>
                </label>
            </div>

            <label class="text-input">
                <span>How can I help you?</span>
                <input type="text" placeholder="Hello Simon, I am interested in..." required>
            </label>
            <div id="checkbox-container">
                <label id="checkbox-label">
                    <input id="checkbox" type="checkbox" [(ngModel)]="checkboxInput.isChecked" name="checkbox" required>
                    <span id="checkmark"
                        (click)="toggleCheckedState(checkboxInput); activateFirstClick(checkboxInput)"></span>
                </label>
                <div>
                    <p id="checkbox-info-text">I've read the <a href="#">privacy policy</a> and agree to the
                        processing of my data.
                    </p>
                    <p class="checkbox-warning-text"
                        [ngClass]="{'warning': !checkboxInput.isChecked && checkboxInput.isClickedFirstTime}">Please
                        accept
                        the
                        privacy policy.
                    </p>
                </div>
            </div>


            <button type="submit" disabled>Drop a line</button>
        </form>
    </main>

    <app-footer id="app-footer"></app-footer>
</section>