<section>
    <main>
        <div id="contact-text">
            <h2>Gemeinsam schaffen wir mehr!</h2>
            <p id="c-question">Hast du eine Herausforderung?</p>
            <p>In einem gemeinsamen Projekt, können wir sie meistern. Ich kann das Design der Sofrware umsetzen und
                interaktive Logik gestalten.
            </p>
        </div>

        <form id="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div id="contact-info-group">
                <label for="name" class="text-input">
                    <span>Wie heißt du?</span>
                    <input [(ngModel)]="submittedContact.name" id="name" name="name" type="text" placeholder="Deinen Name hier rein" required
                        #name="ngModel" minlength="3">
                </label>

                <label for="email" class="text-input">
                    <span>Wie ist deine Email?</span>
                    <input [(ngModel)]="submittedContact.email" id="email" name="email" type="email"
                        placeholder="deineemail@email.com" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel">
                </label>
            </div>

            <label for="message" class="text-input">
                <span>Wie kann ich dir helfen?</span>
                <textarea [(ngModel)]="submittedContact.message" id="message" name="message" type="text"
                    placeholder="Hallo Simon, ich bin interessiert an..." required #message="ngModel" minlength="16">
                </textarea>

            </label>

            <div id="checkbox-container">
                <label id="checkbox-label">
                    <input id="checkbox" type="checkbox" [(ngModel)]="checkboxInput.isChecked" name="checkbox" required
                        #checkbox="ngModel">
                    <span id="checkmark"
                        (click)="toggleCheckedState(checkboxInput)"></span>
                </label>
                <div>
                    <p id="checkbox-info-text">Ich habe die <a routerLink="privacy-policy">Datenschutzerklärung</a>
                        gelesen und bin einverstanden mit der Verarbeitung meiner Daten.
                    </p>
                    @if (!name.valid && name.touched) {
                    <p class="checkbox-warning-text warning">
                        Ist dein Name so kurz?
                    </p>
                    } @else if (!email.valid && email.touched) {
                    <p class="checkbox-warning-text warning">
                        Deine Email scheint unvollständig zu sein.
                    </p>
                    } @else if (!message.valid && message.touched) {
                    <p class="checkbox-warning-text warning">
                        Bitte gib mir etwas mehr Informationen in deiner Nachricht mit.
                    </p>
                    } @else if (!checkbox.valid && checkbox.touched) {
                    <p class="checkbox-warning-text warning">
                        Bitte akzeptiere die Datenschutzerklärung.
                    </p>
                    }
                </div>
            </div>


            <button type="submit">Schicke eine Nachricht</button>
        </form>
    </main>

    <app-footer id="app-footer"></app-footer>
</section>