@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include sectionBoxStyle($bc: $main-black);
  @include dFlex($fd: column, $ai: flex-start, $jc: space-between);
}

main {
  @include dFlex($ai: flex-start, $jc: space-between);
  height: 100%;
}

#contact-text {
  width: 40%;
  @include dFlex($fd: column, $ai: flex-start);

  h2 {
    color: $main-yellow;
    margin-bottom: 3rem;
  }

  p {
    margin-top: 1rem;
  }
}

#c-question {
  font-size: 24px;
  font-weight: bold;
  color: $main-coral;
  //   text-align: start;
}

form {
  width: 50%;
  align-self: flex-end;
  @include dFlex($fd: column, $g: 2rem);

  label {
    @include dFlex($fd: column, $ai: flex-start);
  }
}

#contact-info-group {
  width: 100%;
  @include dFlex($g: 2rem);
}

.text-input {
  margin: 8px 4px 8px 0;
  width: 100%;

  span {
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
  }

  input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid $main-yellow;
    font-size: 16px;
    font-weight: 400;
    color: $main-ivory;
    padding: 16px;

    &::placeholder {
      color: $main-ivory;
      opacity: 1; /* Firefox */
    }
  }
}

.checkbox-warning-text {
  width: 100%;
  color: transparent;
  transition: color 125ms;
}

.warning {
  color: $main-warning;
}

.warning-inside::placeholder {
  color: $main-warning;
}

#checkbox-container {
  width: 100%;
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 8px);

  div {
    @include dFlex($fd: column, $g: 1rem);
  }
}

// #region custom checkbox input for privacy policy
#checkbox-label {
  @include dFlex($ai: flex-start, $jc: flex-start, $g: 8px);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  #checkmark {
    position: absolute;
    z-index: 2;
    top: 11px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1.5px solid $main-coral;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      height: 19px;
      width: 19px;
      border-radius: 50%;
      background-color: transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 125ms;
    }
  }
}

#checkbox-label input:checked ~ #checkmark:after {
  display: block;
}

#checkbox-label #checkmark:after {
  left: 4px;
  top: 1.5px;
  width: 3px;
  height: 6px;
  border: solid $main-coral;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#checkbox-label #checkmark:hover::before {
  background-color: #fab04280;
}

// #endregion

// #region privacy policy link hover effect
#checkbox-info-text {
  padding-left: 20px;

  a {
    color: $main-coral;

    &:hover {
      color: $main-ivory;
      -webkit-text-stroke: 0.7px $main-ivory;
    }
  }
}
// #endregion

button {
  padding: 0.5rem 1.6rem;
  margin-bottom: 1rem;
  border: 1px solid $main-ivory;
  border-radius: 50px;
  color: $main-ivory;
  font-weight: bold;
  font-size: clamp(16px, 1.2rem, 24px);

  &:hover {
    background-color: $main-coral;
  }

  &:disabled {
    color: $main-disabled;
    border-color: $main-disabled;

    &:hover {
      cursor: unset;
      background-color: transparent;
    }
  }
}

#app-footer {
  width: 100%;
}