<section id="section-6">
    <div id="contact-text">
        <h2>Let's build something cool together!</h2>
        <p id="c-question">Got a problem to solve?</p>
        <p>Encourage people to contact you and describe what role you are interested in. Show that you will add value to
            their projects through your work. </p>
    </div>

    <form>
        <div>
            <label class="text-input">
                <span>What's your name?</span>
                <input type="text" placeholder="Your name goes here" required>
            </label>
            <label class="text-input">
                <span>What's your email?</span>
                <input type="email" placeholder="youremail@email.com" required>
            </label>
        </div>
        <label class="text-input">
            <span>How can I help you?</span>
            <input type="text" placeholder="Hello Simon, I am interested in..." required>
        </label>


        <div id="privacy-policy-container">
            <label id="checkbox-container">
                <input id="checkbox" type="checkbox" [(ngModel)]="isChecked" name="checkbox" required>
                <span id="checkmark" (click)="toggleCheckedState(); activateFirstTouch()"></span>
            </label>
            <span id="pp-effect">I've read the <a href="#">privacy policy</a> and agree to the
                processing of my data.
            </span>



        </div>
        <p class="checkbox-warning-text" [ngClass]="{'warning': !isChecked && firstTouch}">Please accept the privacy policy.</p>

        <app-primary-button></app-primary-button>
    </form>
</section>