@use "./../../../../styles/_variables" as *;
@use "./../../../../styles/_mixins" as *;

#more-about-me {
  z-index: 9;
  width: 272px;
  background-color: $main-blue;
  color: $main-ivory;
  @include cardBoxStyle();

  div {
    p {
      @include dFlex($jc: flex-start, $g: 10px);
      margin: 6px;
      font-size: 16px;
    }
  }
}

#more-about-me-header {
  @include dFlex($jc: center);
  margin-bottom: 14px;

  button {
    width: 32px;
    height: 32px;
    @include bgImage("/../../assets/img/icons/close-ivory.svg");

    &:hover {
      cursor: pointer;
    }

    &:active {
      @include bgImage("/../../assets/img/icons/close-hover.svg");
    }
  }
}

#more-about-me-header:has(> :nth-child(2)) {
  @include dFlex($jc: space-between);
}
