<div class="more-about-me">

    <div id="more-about-me-header">
        <h3>{{"main-page.about-me.about-me-overlay.title" | translate}}</h3>
        @if (breakpointObserverService.isMobile$ | async) {
        <button></button>
        }
    </div>

    <div>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg"
                alt="">{{"main-page.about-me.about-me-overlay.bp-1" | translate}}</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg"
                alt="">{{"main-page.about-me.about-me-overlay.bp-2" | translate}}</p>
        <!-- <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg"
                alt="">{{"main-page.about-me.about-me-overlay.bp-3" | translate}}</p> -->
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg"
                alt="">{{"main-page.about-me.about-me-overlay.bp-4" | translate}}</p>
    </div>
</div>