<div id="more-about-me">

    <div id="more-about-me-header">
        <h3>Mehr über mich</h3>
        @if (mainPageState.mobileView) {
        <button></button>
        }
    </div>

    <div>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Team Player</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Immer am Lernen</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Kreativ</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">In München daheim</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Offen für Home Office</p>
    </div>
</div>