<div id="more-about-me">

    <div id="more-about-me-header">
        <h3>More about me</h3>
        @if (mainPageState.mobileView) {
        <button></button>
        }
    </div>

    <div>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Team Player</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Continuosly learning</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Creativ Thinker</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Based in Munich</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Open to work remote</p>
        <p><img src="./assets/img/icons/about-me-overlay/check_circle.svg" alt="">Open to work remote</p>
    </div>
</div>