@use "./../../../../styles/_variables" as *;
@use "./../../../../styles/_mixins" as *;

.more-about-me {
  z-index: 9;
  width: 272px;
  background-color: $main-blue;
  color: $main-ivory;
  @include cardBoxStyle($bc: $main-ivory);

  div {
    p {
      @include dFlex($jc: flex-start, $g: 10px);
      margin: 6px;
      font-size: 16px;
    }
  }
}

.more-about-me-header {
  @include dFlex($jc: center);
  margin-bottom: 14px;

  button {
    width: 32px;
    height: 32px;
    background: url("./../../../../../public/assets/img/icons/close-ivory.svg")
      no-repeat center / cover;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background: url("./../../../../../public/assets/img/icons/close-hover.svg")
        no-repeat center / cover;
    }
  }
}

.more-about-me-header:has(> :nth-child(2)) {
  @include dFlex($jc: space-between);
}

// #region media queries
@media (max-width: 420px) {
  .more-about-me {
    justify-self: flex-end;
    max-width: 80%;
  }

  h3 {
    font-size: 20px;
  }

  .more-about-me-header {
    button {
      width: 24px;
    }
  }

  // p {
  //   font-size: 16px;
  // }
}
// #endregion
