@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  @include maxWidth1600();
  > div {
    @include dFlex($jc: space-between);
    padding: 24px clamp(0.8rem, 5vw - 0.8rem, 7.2rem);

    > div {
      width: 140px;
      @include dFlex($g: 0.5rem);
    }
  }
}

#header-controls {
  justify-content: flex-end;
}

a {
  font-size: 32px;
  font-weight: bold;
  color: $main-ivory;
}

#fs-logo {
  &:hover {
    cursor: pointer;
  }

  &:hover .header-element-color {
    color: $main-coral;
  }

  a {
    margin-left: -6px;
    transition: color 125ms ease;
  }
}

.section-change {
  #logo-sf-text {
    transition: color 450ms ease-in;
  }
}

.header-element-color {
  color: $main-ivory;
  transition: color 450ms ease-in;
}

.header-element-color-black {
  color: $main-black;
  transition: color 450ms ease-in;
}

.svg-fill {
  color: $main-ivory;
  transition: color 450ms ease-in;
}

.svg-fill-black {
  color: $main-black;
  transition: color 450ms ease-in;
}

.header-element-color:hover {
  color: $main-coral;
}

.english,
.german,
#btn-burger {
  @include dFlex();
  margin-left: 0.5rem;
  height: 40px;
  width: 40px;
  transition: background-color 125ms ease;
}

.english {
  border-radius: 50%;

  &:hover {
    background-color: $main-coral;
  }
}

.german {
  border-radius: 50%;
  &:hover {
    background-color: $main-coral;
  }
}

#btn-burger {
  &:hover svg path {
    fill: $main-coral;
  }
}

#app-social-links {
  width: 140px;
}
