@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  @include maxWidth1920();
  > div {
    @include dFlex($jc: space-between);
    padding: 1.5rem 2.5rem;

    > div {
      width: 140px;

      @include dFlex($g: 0.5rem);
    }
    div:nth-child(3) {
      justify-content: flex-end;
    }
  }
}

a {
  font-size: 32px;
  font-weight: bold;
  color: $main-ivory;
}

#fs-logo {
  &:hover {
    cursor: pointer;
  }

  &:hover .fuchs-font {
    color: $main-coral;
  }
}

.fuchs-font-black {
  color: $main-black;
}

.fuchs-font:hover {
  color: $main-coral;
}

.english,
.german,
#btn-burger {
  @include dFlex();
  margin-left: 0.5rem;
  height: 40px;
  width: 40px;
  transition: background-color 125ms ease;
}

.english {
  border-radius: 50%;
  background: url("./../../../../public/assets/img/icons/lang-btns/lang-btn-en-default.svg")
    no-repeat center / cover;

  &:hover {
    background-color: $main-coral;
  }
}

.german {
  border-radius: 50%;
  background: url("./../../../../public/assets/img/icons/lang-btns/lang-btn-de-default.svg")
    no-repeat center / cover;
  &:hover {
    background-color: $main-coral;
  }
}

#btn-burger {
  &:hover svg path {
    fill: $main-coral;
  }

  svg path {
    fill: $main-ivory;
    transition: fill 125ms ease;
  }
}

#app-social-links {
  width: 140px;
}