<header>
    <div class="header-content">
        <div class="social-links">
            <a href="https://github.com/SimonMFuchs">
                <img src="./assets/img/icons/social-btns/github-line.svg" alt="github icon">
            </a>
            <a href="">
                <img src="./assets/img/icons/social-btns/linkedin-box-line.svg" alt="linkedin icon">
            </a>
            <a href="">
                <img src="./assets/img/icons/social-btns/mail-line.svg" alt="email icon">
            </a>
        </div>

        <div>
            <img src="./assets/img/logo-default.svg" alt="">
        </div>

        <div>
            <button id="language">
                <img src="./assets/img/icons/lang-btns/lang-btn-en-default.svg" alt="">
            </button>
            <button id="burger">
                <img src="./assets/img/icons/burger-menu-btns/burger-default.svg" alt="">
            </button>
        </div>
    </div>
</header>