@use "./../../../styles/_mixins" as *;

div {
  @include dFlex($jc: flex-start);
  a {
    height: 32px;
    width: 32px;
  }
}

#link-github {
  background: url("./../../../../public/assets/img/icons/social-btns/github-line.svg")
    no-repeat center / cover;

  height: 32px;
  width: 32px;
  &:hover {
    background-image: url("./../../../../public/assets/img/icons/social-btns/github-line hover.svg");
  }
}

#link-linkedin {
  background: url("./../../../../public/assets/img/icons/social-btns/linkedin-box-line.svg")
    no-repeat center / cover;

  &:hover {
    background-image: url("./../../../../public/assets/img/icons/social-btns/linkedin-box-line hover.svg");
  }
}

#link-mail {
  background: url("./../../../../public/assets/img/icons/social-btns/mail-line.svg") no-repeat center / cover;

  &:hover {
    background-image: url("./../../../../public/assets/img/icons/social-btns/mail-line hover.svg");
  }
}
