@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

div {
  @include dFlex($jc: flex-start);
  a {
    height: 32px;
    width: 32px;
  }
}

.social-icon-bg {
  fill: transparent;
  transition: fill 125ms ease;
}

.social-icon-strokes-black {
  fill: $main-black;
}

#link-github:hover .social-icon-bg,
#link-linkedin:hover .social-icon-bg,
#link-mail:hover .social-icon-bg {
  fill: $main-coral;
}
