@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include dFlex($fd: column);
  @include maxWidth1600();
  color: $main-ivory;
  width: 100%;
  padding: 160px 80px;
}

h1 {
    margin-bottom: 2rem;
}

h2,
h3 {
  font-family: "Quicksand", sans-serif;
  line-height: unset;
}

h2 {
    margin-top: 16px;
    font-size: 32px;
}

h3 {
    text-align: start;
    margin-top: 8px;
}

ul {
    padding-left: 24px;
}

strong {
  font-weight: bold;
}

a {
    color: $main-yellow;

    &:hover {
        text-decoration: underline;
    }
}