@use "./../styles/_variables" as *;

@mixin hostBlock() {
  :host {
    display: block;
    width: 100%;
  }
}

@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin maxWidth1600() {
  max-width: 1600px;
}

@mixin sectionBoxStyle($bc: $main-blue, $c: $main-ivory) {
  background-color: $bc;
  color: $c;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

@mixin sectionWrapperStyle() {
  padding: calc(66px + 30px) clamp(1.6rem, 7.5vw - 0.8rem, 11.2rem) 0 clamp(1.6rem, 7.5vw - 0.8rem, 11.2rem);

  // @media (max-width: 640px) {
  //   padding: calc(66px + 20px) 24px 0 24px;
  // }
}

@mixin cardBoxStyle($p: 32px 24px 24px 24px, $bw: 1px, $bs: solid, $bc: $main-black, $br: 4px, $ta: justify) {
  padding: $p;
  border-width: $bw;
  border-style: $bs;
  border-color: $bc;
  border-radius: $br;
  text-align: $ta;

  @media (max-width: 720px) {
    padding: 16px 12px 12px 12px;
    // border-color: red;
    // border-width: 8px;
  }
}

@mixin textPadding() {
  padding: 32px 24px 24px 24px;
}

@mixin fontSizeSwitch() {
  font-size: 18px;

  @media (max-width: 720px) {
    font-size: 16px;
  }

  @media (max-height: 720px) {
    font-size: 16px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
  }

  @media (min-height: 1440px) {
    font-size: 20px;
  }
}

@mixin primaryButton() {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 2rem;
  border: 1px solid $main-ivory;
  border-radius: 50px;
  color: $main-ivory;
  font-weight: bold;
  // font-size: clamp(1.6rem, 0.625vw + 1.4rem, 2.4rem);
  font-size: 18px;
  transition: background-color 125ms ease;

  &:hover {
    background-color: $main-coral;
  }
}
