@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin maxWidth1920() {
  max-width: 1920px;
}

@mixin bgImage($url, $r: no-repeat, $p: center, $s: cover) {
  background-image: url($url);
  background-repeat: $r;
  background-position: $p;
  background-size: $s;
}
