/* global styles */

* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  background-color: #679aac;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
