@use "./fonts" as *;
@use "./_variables" as *;

// #region global style defaults
* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

html {
  // font-size: clamp(0.25rem, 1vw + 0.03rem, 1.25rem);
  font-size: 10px;
  // font-size: clamp(0.25rem, 1vw + 0.05rem, 1.25rem);
  // font-size: clamp(0.25rem, min(1vw + 0.05rem, 1vh + 0.1rem), 1.25rem);
  // font-size: 0.8vw;
}

body {
  font-size: 16px;
  overscroll-behavior: none;
  scroll-behavior: none;
  overflow: hidden;

  &.scroll-unlocked {
    overscroll-behavior: auto;
    scroll-behavior: smooth;
    overflow: visible;
  }

  @media (max-aspect-ratio: 7/6) or (min-width: 1921px) {
    overscroll-behavior: auto;
    scroll-behavior: smooth;
    overflow: visible;
  }
}

h1,
h2 {
  font-family: "Eczar", serif;
  font-weight: 600;
  font-size: 5.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 4.7rem;
  line-height: 1;

  @media (max-aspect-ratio: 7/6) {
    font-size: 8rem;
  }
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
  // display: inline-block;
}
// #endregion

// #region Utility Classes
.secondary-button {
  font-size: 18px;
  font-weight: bold;
  margin: 2rem 0 0 0;
  display: inline-block;

  &:hover {
    color: $main-coral;
  }
}

// #endregion
