section {
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: flex-start;
    aspect-ratio: 16/9;

}


#app-menu-overlay {
  position: absolute;
  height: 100vh;
  height: 100dvh;
  inset: 0;
  z-index: 11;
}

#router-outlet {
  // height: 100vh;
  // height: 100dvh;
  width: 100%;    
}