@use "./../styles/_variables" as *;

.custom-cursor {
  z-index: 1000;
  pointer-events: none;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $main-black;
}

#app-menu-overlay {
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  inset: 0;
  z-index: 11;
}

#app-email-feedback-overlay {
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  inset: 0;
  z-index: 11;
}

#router-outlet {
  width: 100%;
}
