section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#app-menu-overlay {
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  inset: 0;
  z-index: 11;
}

#router-outlet {
  width: 100%;
}