@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  @include sectionBoxStyle($bc: $main-ivory, $c: $main-black);
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start);

  div {
    @include dFlex($g: 4rem);

    p {
      @include textPadding();
      width: 36rem;
      // Seltsame Ausnahme
      font-weight: 400;
    }
  }
}

#app-project {
    width: 100%;
}
