@use "./../../styles/_mixins" as *;
@use "./../../styles/_variables" as *;

section {
  @include dFlex($fd: column);


  div {
    height: 100%;
    width: 100%;
  }
}

#app-footer {
  @include maxWidth1920();
  width: 100%;
  color: $main-ivory;
  padding: 0 40px;
}
