@use "./../../styles/_mixins" as *;
@use "./../../styles/_variables" as *;

main {
  @include dFlex($fd:column);
  @include maxWidth1920();
  // align-items: stretch;
  width: 100%;
}

#app-section-nav {
  width: 32px;
  position: fixed;
  top: 0;
  right: 2rem;
  z-index: 8;
}



#app-hero,
#app-about-me,
#app-skills,
#app-portfolio,
#app-references,
#app-contact {
  width: 100%;
} 