@use "./../../styles/_mixins" as *;
@use "./../../styles/_variables" as *;

section {
  @include dFlex($fd: column);
  @include maxWidth1920();
  width: 100%;

  
}

#app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  @media (max-aspect-ratio: 7/6) or (min-width: 1921px) {
  position: absolute;
  }
}

#app-section-nav {
  width: 32px;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 32px;
  // right: calc(((100vw - 1920px) / 2) + 32px);
}

#hero,
#about-me,
#skills,
#portfolio,
#references,
#contact {
  width: 100%;
}

