<section>
        <div>
                <app-header id="app-header"></app-header>
                <!-- <app-hero #section id="hero"></app-hero> -->
                <!-- <app-about-me #section id="about-me"></app-about-me> -->
                <app-skills #section id="skills"></app-skills>
                <app-portfolio #section id="portfolio"></app-portfolio>
                <!-- <app-references #section id="references"></app-references> -->
                <!-- <app-contact #section id="contact"></app-contact> -->
        </div>

        @if (breakpointObserverService.isDesktop$ | async) {
        <app-section-nav id="app-section-nav"></app-section-nav>
        }
</section>