@use "./../../styles/_mixins" as *;
@use "./../../styles/_variables" as *;

main {
  @include dFlex();
  width: 100%;
}

#app-section-nav {
  // überflüssig?
  // height: 100vh;
  // height: 100dvh;
  width: 32px;
  position: fixed;
  top: 0;
  right: 2rem;
  z-index: 8;
}
