<section>
    <h1>Legal Notice</h1>

    <p>Information pursuant to § 5 DDG (German Digital Services Act)</p>

    <p>
        Simon Fuchs<br>
        Goldberg 11A<br>
        85567 Grafing<br>
    </p>

    <p><strong>Represented by:</strong><br>
        Simon Fuchs<br>
    </p>

    <p><strong>Contact:</strong><br>
        Phone: 08092-854450<br>
        Email: <a href='mailto:visual.simon.fuchs@proton.me'>visual.simon.fuchs&#64;proton.me</a>
    </p>

    <p><strong>Disclaimer:</strong><br><br>
        <strong>Liability for Links</strong><br><br>
        Our website contains links to external third-party websites, the content of which we have no influence over.
        Therefore, we cannot accept any liability for such external content. The respective provider or operator of the
        linked pages is always responsible for their content. The linked pages were checked for potential legal
        violations at the time of linking. No illegal content was identified at the time the links were created.
        Permanent monitoring of the linked pages' content, however, is not reasonable without specific evidence of a
        legal violation. Should any legal infringement become known to us, we will remove the respective links
        immediately.<br><br>

        <strong>Data Protection</strong><br><br>
        The use of our website is generally possible without providing personal data. Where personal data (such as name,
        address, or email addresses) is collected on our website, this is done on a voluntary basis wherever possible.
        Such data will not be passed on to third parties without your explicit consent.<br>
        We draw your attention to the fact that data transmission over the internet (e.g., communication by email) can
        have security vulnerabilities. Complete protection of data from access by third parties is not possible.<br>
        The use by third parties of contact details published under the obligation to provide legal information for
        sending unsolicited advertisements and informational materials is hereby expressly prohibited. The operators of
        the website explicitly reserve the right to take legal action in the case of unsolicited sending of advertising
        information, such as spam emails.<br>
    </p>

    <p>
        Legal notice provided by <a href="https://websitewissen.com" rel="dofollow">WebsiteWissen.com</a>, the guide for
        <a href="https://websitewissen.com/wordpress-website-erstellen" rel="dofollow">WordPress websites</a>, <a
            href="https://websitewissen.com/wordpress-hosting-vergleich" rel="dofollow">WordPress hosting</a>, and <a
            href="https://websitewissen.com/website-kosten" rel="dofollow">website costs</a>, based on a template by <a
            href="https://www.kanzlei-hasselbach.de/" rel="dofollow">Kanzlei Hasselbach Rechtsanwälte</a>.
    </p>

</section>