<div id="overlay-wrapper" (click)="closeFromOverlay()">
    <div id="overlay-container">
        <nav class="disappear" [ngClass]="{'appear': pageStateService.burgerMenuIsOpen}" (click)="prevent($event)">
            <div class="nav-header">
                <h3>Menu</h3>
                <button (click)="closeFromOverlay()"></button>
            </div>
            <div class="nav-body">
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                    <a
                        (click)="closeFromOverlay(); pageStateService.isOnLegalPage() ? pageStateService.redirectIfOnLegalPage('about-me') : mainPageScrollService.scrollToSection(1)">
                        About Me
                    </a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                    <a
                        (click)="closeFromOverlay(); pageStateService.isOnLegalPage() ? pageStateService.redirectIfOnLegalPage('skills') : mainPageScrollService.scrollToSection(2)">
                        Skillset
                    </a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                    <a
                        (click)="closeFromOverlay(); pageStateService.isOnLegalPage() ? pageStateService.redirectIfOnLegalPage('portfolio') : mainPageScrollService.scrollToSection(3)">
                        Portfolio
                    </a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                    <a
                        (click)="closeFromOverlay(); pageStateService.isOnLegalPage() ? pageStateService.redirectIfOnLegalPage('references') : mainPageScrollService.scrollToSection(4)">
                        References
                    </a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                    <a
                        (click)="closeFromOverlay(); pageStateService.isOnLegalPage() ? pageStateService.redirectIfOnLegalPage('contact') : mainPageScrollService.scrollToSection(5)">
                        Contact Me
                    </a>
                </div>
            </div>
            <app-social-links [isInBurgerMenu]="true" (click)="closeFromOverlay()"></app-social-links>
        </nav>
    </div>
</div>