@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

#overlay-wrapper {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  @include dFlex();
}

#overlay-container {
  @include maxWidth1600();
  height: 100%;
  width: 100%;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 22px;
  right: calc(clamp(0.8rem, 5vw - 0.8rem, 7.2rem) - 6px);
  border: 1px solid $main-black;
  border-radius: 4px;
  width: 208px;
  padding: 10px;
  background-color: $main-ivory;
  z-index: 10;
  transition: transform 225ms ease-in-out;
}

.nav-header {
  @include dFlex($jc: space-between, $ai: flex-start);
  margin-bottom: 8px;
  > h3 {
    color: $main-blue;
  }

  button {
    width: 32px;
    height: 32px;
    background: url("./../../../../public/assets/img/icons/close-default.svg") no-repeat center / cover;

    &:hover {
      cursor: pointer;
      background: url("./../../../../public/assets/img/icons/close-hover.svg") no-repeat center / cover;
    }

    &:active {
      background: url("./../../../../public/assets/img/icons/close-hover.svg") no-repeat center / cover;
    }
  }
}

.nav-body {
  @include dFlex($ai: flex-start, $fd: column);

  div {
    height: 31px;

    img {
      width: 0;
      transition: width 125ms ease;
      margin-right: 4px;
    }

    &:hover img {
      width: 20px;
    }

    a {
      height: 31px;
      display: flex;
      align-items: flex-start;

      div {
        height: 24px;
        display: flex;
        align-items: flex-end;

        span {
          color: $main-black;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }

      &:hover div span {
        color: $main-blue;
      }
    }
  }
}

// #region nav slide-in animation
.disappear {
  transform: translateX(200%);
}

.appear {
  transform: translateX(0%);
}
// #endregion
