<div id="overlay-wrapper" (click)="closeFromOverlay()">
    <div id="overlay-container">
        <nav class="disappear" [ngClass]="{'appear': pageStateService.burgerMenuIsOpen}" (click)="prevent($event)">
            <div class="nav-header">
                <h3>Menu</h3>
                <button (click)="closeFromOverlay()"></button>
            </div>
            <div class="nav-body">
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="">
                    <a
                        (click)="mainPageScrollService.updateCurrentSection(1); closeFromOverlay(); mainPageScrollService.scrollToSection(mainPageScrollService.anchors[1]); pageStateService.redirectIfOnLegalPage()">About
                        Me</a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="">
                    <a
                        (click)="mainPageScrollService.updateCurrentSection(2); closeFromOverlay(); mainPageScrollService.scrollToSection(mainPageScrollService.anchors[2])">Skillset</a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="">
                    <a
                        (click)="mainPageScrollService.updateCurrentSection(3); closeFromOverlay(); mainPageScrollService.scrollToSection(mainPageScrollService.anchors[3])">Portfolio</a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="">
                    <a
                        (click)="mainPageScrollService.updateCurrentSection(4); closeFromOverlay(); mainPageScrollService.scrollToSection(mainPageScrollService.anchors[4])">References</a>
                </div>
                <div>
                    <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="">
                    <a
                        (click)="mainPageScrollService.updateCurrentSection(5); closeFromOverlay(); mainPageScrollService.scrollToSection(mainPageScrollService.anchors[5])">Contact
                        Me</a>
                </div>
            </div>
            <app-social-links [isInBurgerMenu]="true" (click)="closeFromOverlay()"></app-social-links>
        </nav>
    </div>
</div>