@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

#overlay-wrapper {
  height: 100vh;
  height: 100dvh;
  // background-color: rgba(0, 0, 0, 0.2); //nur zum testen
  overflow: hidden;
  @include dFlex();
}

#overlay-container {
  @include maxWidth1600();
  height: 100%;
  width: 100%;
  // padding: 1.5rem 0;
  // margin: 0 2.5rem;
    background-color: rgba(0, 0, 0, 0.2); //nur zum testen
}

nav {
  position: absolute;
  // top: calc(1.5rem - 2px);
  top: 22px;
  right: calc(clamp(0.8rem, 5vw - 0.8rem, 7.2rem) - 6px);
  // right: clamp(0.8rem, 5vw - 0.8rem, 7.2rem);
  border: 1px solid $main-black;
  border-radius: 4px;
  width: 208px;
  padding: 10px;
  background-color: $main-ivory;
  z-index: 10;
  transition: transform 225ms ease-in-out;
}

.nav-header {
  @include dFlex($jc: space-between, $ai: flex-start);
  margin-bottom: 8px;
  > h3 {
    color: $main-blue;
  }

  button {
    width: 32px;
    height: 32px;
    background: url("./../../../../public/assets/img/icons/close-default.svg")
      no-repeat center / cover;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background: url("./../../../../public/assets/img/icons/close-hover.svg")
        no-repeat center / cover;
    }
  }
}

.nav-body {
  @include dFlex($ai: flex-start, $fd: column);

  div {

    &:hover img {
      width: 20px;
    }

    img {
      width: 0;
      transition: width 125ms ease;
    }

    a {
      display: inline-block;
      margin: 4px;
      color: $main-black;
      font-size: 18px;
      font-weight: bold;
      &:hover {
        color: $main-blue;
      }
    }
  }
}

// #region nav slide-in animation

.disappear {
  transform: translateX(200%);
}

.appear {
  transform: translateX(0%);
}
// #endregion
