<div id="overlay-wrapper" (click)="closeFromOverlay()">
    <div id="overlay-container">
        <nav class="disappear" [ngClass]="{'appear': pageStateService.burgerMenuIsOpen}" (click)="prevent($event)">
            <div class="nav-header">
                <h3>Menu</h3>
                <button (click)="closeFromOverlay()"></button>
            </div>
            <div class="nav-body">
                <div>
                    <a class="anchor"
                        (click)="closeFromOverlay(); pageStateService.isNotOnMainPage() ? pageStateService.redirectToMainPage('about-me') : mainPageScrollService.scrollToSection(1)">
                        <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                        <div><span>{{"overlays.menu-overlay.link-about-me" | translate}}</span></div>
                    </a>
                </div>
                <div>
                    <a class="anchor"
                        (click)="closeFromOverlay(); pageStateService.isNotOnMainPage() ? pageStateService.redirectToMainPage('skills') : mainPageScrollService.scrollToSection(2)">
                        <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                        <div><span>{{"overlays.menu-overlay.link-skills" | translate}}</span></div>

                    </a>
                </div>
                <div>
                    <a class="anchor"
                        (click)="closeFromOverlay(); pageStateService.isNotOnMainPage() ? pageStateService.redirectToMainPage('portfolio') : mainPageScrollService.scrollToSection(3)">
                        <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                        <div><span>{{"overlays.menu-overlay.link-portfolio" | translate}}</span></div>

                    </a>
                </div>
                <div>
                    <a class="anchor"
                        (click)="closeFromOverlay(); pageStateService.isNotOnMainPage() ? pageStateService.redirectToMainPage('references') : mainPageScrollService.scrollToSection(4)">
                        <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                        <div><span>{{"overlays.menu-overlay.link-references" | translate}}</span></div>

                    </a>
                </div>
                <div>
                    <a class="anchor"
                        (click)="closeFromOverlay(); pageStateService.isNotOnMainPage() ? pageStateService.redirectToMainPage('contact') : mainPageScrollService.scrollToSection(5)">
                        <img src="./assets/img/icons/burger-menu-btns/Capa_1.svg" alt="cogwheel icon">
                        <div><span>{{"overlays.menu-overlay.link-contact" | translate}}</span></div>

                    </a>
                </div>
            </div>
            @if (breakpointObserverService.isMobile$ | async) {
            <app-social-links [isInBurgerMenu]="true" (click)="closeFromOverlay()"></app-social-links>
            }
        </nav>
    </div>
</div>