<div id="overlay-wrapper" (click)="closeFromOverlay()">
    <div class="disappear feedback-container" [ngClass]="{'appear': pageStateService.emailFeedbackIsOpen}" (click)="prevent($event)">
        <div class="message-header">
            @if(pageStateService.sendEmailWasSuccessful) {
            <h3>{{"overlays.email-feedback-overlay.message-head" | translate}}</h3>
            } @else {
            <h3>{{"overlays.email-feedback-overlay.message-head-error" | translate}}</h3>
            }
            <button (click)="closeFromOverlay()"></button>
        </div>
        <div class="message-body">
            @if(pageStateService.sendEmailWasSuccessful) {
            <p>{{"overlays.email-feedback-overlay.message-body" | translate}}</p>
            } @else {
            <p>{{"overlays.email-feedback-overlay.message-body-error" | translate}}</p>
            }
        </div>
    </div>
</div>