<section id="section-3">
    <h2>Core Competencies</h2>
    <div id="skills-description">
        <p>
            Emphasise that you have used a variety of frontend technologies in your projects. Where have you used these
            skills: static or dynamic websites, responsive layouts, data visualization interfaces, smooth user
            experiences?
        </p>
    </div>

    <div id="skills-showcase">

        <app-cogwheel></app-cogwheel>

        <div id="tech-card">
            @for (tech of showcaseData.myTechs; track $index) {
            <label>
                <img src="{{tech.imgUrl}}" alt="Placeholder Tech">
                {{tech.name}}
            </label>
            }
        </div>
    </div>

    <!-- <app-growth-mindset id="app-growth-mindset"></app-growth-mindset> -->

</section>