@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  height: 100vh;
  height: 100dvh;
  @include dFlex($fd: column, $ai: flex-start, $g: 4rem);
  background-color: $main-black;
  color: $main-ivory;
  padding: 2rem 6rem 0 6rem;

  #skills-description {
    background-color: $main-blue;
    @include cardBoxStyle();
    width: 40rem;
    p {
    }
  }
}

#skills-showcase {
  width: 100%;
  @include dFlex($ai: flex-end, $jc: space-between);
}

#cogwheel {
  width: 120px;
}

#tech-card {
  width: 40rem;
  @include dFlex($g: 40px);
  flex-wrap: wrap;

  label {
    @include dFlex($fd: column, $g: 20px);
  }
}

#app-growth-mindset {
  position: absolute;
  bottom: 16px;
  left: 240px;
}