<section id="section-3">
    <h2>Core Competencies</h2>
    <div>
        <p>
            Emphasise that you have used a variety of front-end technologies in your projects. Where have you used these
            skills: static or dynamic websites, responsive layouts, data visualization interfaces, smooth user
            experiences?
        </p>
    </div>

    <div id="skills-showcase">
        <img id="cogwheel" src="./assets/img/Capa_bg.svg" alt="Placeholder Cogwheele">
        <div id="tech-card">
            @for (tech of [1,2,3,4,5,6,7,8,9,10]; track $index) {
            <label>
                <img src="./assets/img/skills/angular.svg" alt="Placeholder Tech">
            </label>
            }
        </div>
    </div>

</section>