@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

@include hostBlock();

section {
  @include sectionBoxStyle($bc: $main-black);
  @include dFlex($ai: center);
  width: 100%;
  min-height: 640px;
  // padding-top: clamp(96px, 8vw + 32px, 160px);
}

.skills-wrapper {
  @include dFlex($fd: column, $ai: flex-start, $jc: space-between, $g: 4rem);
  @include sectionWrapperStyle();
  @include maxWidth1600();
  // padding-top: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.setAspectRatio {
  aspect-ratio: 14 / 10;
  height: unset;
}

#skills-description {
  @include cardBoxStyle();
  @include pFontSizeSwitch();
  width: 45%;
  background-color: $main-blue;
}

// #region skills-showcase
#skills-showcase {
  width: 100%;
  @include dFlex($ai: flex-end, $jc: space-between);
  margin-bottom: 2rem;
}

#tech-card {
  width: 590px;
  min-width: 516px;
  @include dFlex($g: 30px);
  flex-wrap: wrap;
  padding: 40px 40px 0 40px;

  label {
    @include dFlex($fd: column, $g: 20px);
    width: 78px;

    img {
      width: 78px;

      transition: transform 225ms ease-in-out;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
// #endregion

// #region cogwheel learning animation
#cogwheel-1 {
  z-index: 1;
  animation: animateCogwheel linear 10s infinite;
  transform-origin: center;
  pointer-events: visible;
}

@keyframes animateCogwheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#learning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  z-index: 2;
  width: 40px;
  height: 40px;
}

#cogwheel-container {
  // align-self: center;
  clip-path: circle(50% at 50% 50%);

  &:hover #cogwheel-1 {
    animation-play-state: paused;
  }
}
// #endregion

// #region app-growth-mindset
#app-growth-mindset {
  z-index: 2;
  position: absolute;
  bottom: 32px;
  left: 160px;
  transition: transform 225ms ease-in-out;
  pointer-events: none;
}

.disappear {
  transform: translateY(250%);
}

.appear {
  transform: translateY(0%);
}
// #endregion


// #region media queries

// #region min-width queries
// @media (min-width: 1440px) {
//   #tech-card {
//     width: 720px;
//     gap: 36px;

//     label {
//       width: 96px;

//       font-size: 20px;
//       img {
//         width: 96px;
//       }
//     }
//   }
// }
// #endregion

// @media (max-height: 700px) {
//   section {
//     gap: 2rem;
//   }

//   #tech-card {
//     padding: 2rem;
//     padding: 2rem 2rem 0 2rem;
//   }

//   #app-growth-mindset {
//     bottom: 16px;
//     left: 150px;
//   }
// }

// #region max-width media queries
// @media (max-width: 1030px) {
//   #skills-description {
//     width: 456px;
//   }
// }

// @media (max-width: 820px) {
//   #tech-card {
//     width: 60rem;
//     min-width: unset;
//     @include dFlex($g: 30px);

//     label {
//       @include dFlex($fd: column, $g: 1.6rem);
//       width: 7rem;

//       span {
//         font-size: 1.6rem;
//       }

//       img {
//         width: 7rem;
//       }
//     }
//   }

//   #app-growth-mindset {
//     width: calc(90vw);
//     min-width: none;
//     bottom: 16px;
//     left: 180px;
//   }
// }

// @media (max-width: 540px) {
//   #app-growth-mindset {
//     bottom: 144px;
//     left: 0px;
//   }
// }
// #endregion

// @media (max-aspect-ratio: 7/6) {
//   #skills {
//     height: unset;
//     gap: 7rem;
//     padding-top: 100px;
//   }

//   h2 {
//     font-size: 8rem;
//   }

//   #skills-showcase {
//     align-items: flex-start;
//     flex-direction: column-reverse;
//     gap: 40px;
//   }

//   #skills-description {
//     width: unset;
//   }

//   #tech-card {
//     width: unset;
//     padding: 4rem;
//     gap: 40px;

//     label {
//       @include dFlex($fd: column, $g: 20px);
//       width: 78px;

//       span {
//         font-size: 16px;
//       }

//       img {
//         width: 78px;

//         transition: transform 225ms ease-in-out;

//         &:hover {
//           transform: scale(1.25);
//         }
//       }
//     }
//   }

//   #cogwheel-container {
//     align-self: unset;
//   }
// }

// #endregion
