<section id="skills">
    @let isSmall = sectionLayoutService.hasSmallAspectRatio$ | async;
    <div class="skills-wrapper" [ngClass]="{'setAspectRatio': isSmall}">
        <h2>{{"main-page.skills.headline" | translate}}</h2>

        <div id="skills-description">
            <p>{{"main-page.skills.description" | translate}}</p>
            <div class="spacer"></div>
        </div>

        <div id="skills-showcase">

            <div (mouseenter)="changeHoverState(true)" (mouseleave)="changeHoverState(false)" id="cogwheel-container">
                <img id="cogwheel-1" src="./assets/img/cogwheel/cogwheel-120.svg" alt="">

                <img id="mortarboard" src="./assets/img/cogwheel/learning-40.svg" alt="">
            </div>

            <app-growth-mindset class="disappear" [ngClass]="{'appear': emojiIsHovered}"
                id="app-growth-mindset"></app-growth-mindset>

            <div id="tech-card">
                @let isMobile = breakpointObserverService.isMobile$ | async;
                @for (tech of showcaseData.myTechs; track $index) {
                <label>
                    <img [ngClass]="{'animateTechCard': isMobile}" src="{{tech.imgUrl}}" alt="Placeholder Tech">
                    <span>{{tech.name}}</span>
                </label>
                }
            </div>
        </div>

        <div class="spacer"></div>
    </div>
</section>