<footer>
    <div id="footer-content">
        <div id="cogwheel-container">
            <img id="cogwheel-coral" src="./assets/img/footer/cogwheel-180.svg" alt="Cogwheel Coral">
            <img id="cogwheel-blue" src="./assets/img/footer/cogwheel-263-blue.svg" alt="Cogwheel Blue">
        </div>

        <p>© Simon Fuchs 2025</p>

        <div id="footer-links">
            <a [routerLink]="['/legal-notice', pageStateService.currentLanguage]">Impressum</a>
            <a href="https://www.linkedin.com/in/simon-fuchs-net/" target="_blank">LinkedIn</a>
            <a href="https://github.com/SimCommit" target="_blank">GitHub</a>
        </div>
    </div>
</footer>