@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

#footer-content {
  width: 100%;
  @include dFlex($jc: space-between);
}

#cogwheel-container {
  margin-top: -128px;
  overflow: hidden;
}

// #region cogwheel animations
#cogwheel-coral {
  width: 180px;
  z-index: 2;
  animation: animateCogwheelCoral linear 10s infinite;
  transform-origin: center;
  pointer-events: visible;
}

@keyframes animateCogwheelCoral {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#cogwheel-blue {
  width: 263px;
  z-index: 3;
  margin-left: -78px;
  animation: animateCogwheelBlue linear 10s infinite;
  transform-origin: center;
  pointer-events: visible;
}

@keyframes animateCogwheelBlue {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
// #endregion

#footer-links {
  @include dFlex($jc: flex-end, $g: clamp(1.6rem, 2.462vw - 0.738rem, 3.2rem));
  height: 100px;

  a {
    &:hover {
      color: $main-coral;
    }
  }
}

// #region Media Queries
@media (max-width: 950px) or (max-height: 820px) {
  #cogwheel-container {
    margin-top: -96px;
  }

  #cogwheel-coral {
    width: 100px;
  }

  #cogwheel-blue {
    margin-left: -45px;
    width: 150px;
  }
}

@media (max-width: 800px) {
  #footer-content {
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }

  #cogwheel-container {
    order: 0;
    width: unset;
  }
  #cogwheel-container {
    margin-top: 32px;
    order: 2;
  }

  #cogwheel-coral {
    width: 180px;
  }

  #cogwheel-blue {
    margin-left: -78px;
    width: 263px;
  }

  #footer-links {
    order: 1;
    width: 100%;
    height: unset;
    @include dFlex($jc: space-between, $g: unset);

    a {
      text-align: center;

      &:hover {
        color: $main-coral;
      }
    }
  }
}

@media (max-width: 440px) {
  #cogwheel-coral {
    width: 100px;
  }

  #cogwheel-blue {
    margin-left: -45px;
    width: 150px;
  }
}
// #endregion
